# Ignore data directory and files
data/
*.csv

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
venv/
env/
.env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore distribution / packaging
dist/
build/
*.egg-info/
